<footer>

<div class="container footer-content">


<h3>
XTalentID
</h3>


<p>
The Trusted Sports Identity
</p>


<p>
Every career deserves to be trusted.
</p>



<div class="footer-links">

<a href="../index.html">
Plataforma
</a>


<a href="sobre.html">
Sobre
</a>


<a href="atletas.html">
Atletas
</a>


<a href="treinadores.html">
Treinadores
</a>


<a href="clubes.html">
Clubes
</a>


<a href="contacto.html">
Contacto
</a>


</div>


<p class="copyright">

© 2026 XTalentID. All rights reserved.

</p>


</div>


</footer>
