<header>
    <div class="container navbar">

        <div class="logo">
            <a href="../index.html" id="logo-link">
                <img src="../images/xtalentidlogo.jpg" alt="XTalentID" id="logo-img">
            </a>
        </div>

        <nav>
            <a href="../index.html" id="nav-home">Início</a>
            <a href="../pages/sobre.html" id="nav-sobre">Sobre</a>
            <a href="../pages/atletas.html" id="nav-atletas">Atletas</a>
            <a href="../pages/treinadores.html" id="nav-treinadores">Treinadores</a>
            <a href="../pages/clubes.html" id="nav-clubes">Clubes</a>
            <a href="../pages/founding-members.html" id="nav-founding">Founding Members</a>
            <a href="../pages/contacto.html" id="nav-contacto">Contacto</a>
        </nav>

        <a href="../pages/contacto.html" class="btn-primary" id="btn-passport">
            Criar Sports Passport
        </a>

    </div>
</header>
