<header>

<div class="container navbar">


<div class="logo">

<a href="../index.html">

<img src="../images/xtalentidlogo.jpg" alt="XTalentID">

</a>

</div>



<nav>

<a href="../index.html">
Início
</a>


<a href="sobre.html">
Sobre
</a>


<a href="atletas.html">
Atletas
</a>


<a href="treinadores.html">
Treinadores
</a>


<a href="clubes.html">
Clubes
</a>


<a href="founding-members.html">
Founding Members
</a>


<a href="contacto.html">
Contacto
</a>


</nav>



<a href="contacto.html" class="btn-primary">

Criar Sports Passport

</a>


</div>

</header>
